html,
body {
  margin: 0;
  padding: 0;
  background: black;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-holder {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  aspect-ratio: 16 / 9;
  transform: translate(-50%, -50%);
  background: black;
}

video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background: black;
  outline: none;
  visibility: hidden; /* Initially hidden */
}

#countdownTimer {
  position: absolute;
  top: 20px;
  right: 20px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 32px;
  padding: 10px 20px;
  border-radius: 10px;
  font-family: sans-serif;
  z-index: 9999;
}
